html, body {
    overflow-x: auto;
}

body {
    background-image: url(mesa-de-trabalho.jpg);
    background-size: cover;
    color: rgb(33, 31, 37);
    text-align: right;
    margin: 67px;
    font-family: 'Noto Serif', serif;
}

h1 {
    font-size: 4em;
    padding-top: 20px;
    margin-bottom: 70px;
    text-align: right;
    height: 85px;
}

p {
    font-size: 22px;
    font-weight: bold;
    text-align: right;
    opacity: 1;
}

span {
    color: rgb(238, 13, 238);
}

ul {
    margin-top: 20px;
    text-align: right;
}

li {
    display: inline;    
}

ul li a {
    color: black;
    text-decoration: none;
    font-size: large;
    padding-left: 60px;
    text-align: right;
}

.quarto-paragrafo {
    margin-bottom: 10px;
    text-align: right;
}

.botao {
    text-decoration: none;
    background-color: rgb(235, 18, 217, 0.966);
    color: white;
    font-family: 'Noto Serif', serif;   
}

.botao:hover {
    background-color: rgba(235, 18, 217, 0.966);
    text-align: right;
    padding-top: 1px 30px;
} 

ul.class {
    text-align: right;
    text-decoration: underline;
    font-size: 1.3em;
    margin-bottom: 20px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
    display: contents;
}

